{# empty Twig template #}
{{ form_start(formPlaylist) }}
    <div class="col">
        {{ form_row(formPlaylist.name) }}
        {{ form_row(formPlaylist.description) }}
    </div>
{{ form_end(formPlaylist) }}